body{
  background-color: #48AAAD;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1{
  font-size: 50px;
}

@media only screen and (max-width: 500px) {
  body {
  max-width: 100%;
  font-size: 15px;
  }
}